@charset "UTF-8";

.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 10px;
    font-weight: bold;
}

.menu {
    display: none;
    list-style-type: none;
    font-weight: bold;
    padding: 0;
}

.menu li {
    margin: 0px;
}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

/*ナビゲーション*/
nav{
	text-align: right;
	background-color: #eeeeee;
}

nav a{
	color: black;
	font-weight: bold;
	margin: 0.7vw;
	text-decoration: none;
}

nav a:hover{
	background-color: #cccccc;
}

@media (max-width: 450px){
    .menu-toggle {
        display: block;
    }
    
    .menu-toggle.close::before {
	    content: "✖";
	}
	
	.menu-toggle::before {
	    content: "☰";
	}
    
    .menu {
        display: none; 
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .menu.open {
        display: block;
    }
	nav{
		display: none;
	}
}