<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>削除完了</title>
</head>
<body>
    <h1>削除項目</h1>
    <p>ID: <span th:text="${payment.id}"></span></p>
    <p>userID: <span th:text="${payment.userId}"></span></p>
    <p>収入: <span th:text="${payment.income}"></span></p>
    <p>支出: <span th:text="${payment.spend}"></span></p>
    <p>年月: <span th:text="${payment.day}"></span></p>
    <p>ジャンル: <span th:text="${payment.itemId}"></span></p>
    <a href="/delete">削除画面へ戻る</a>
</body>
</html>
