<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新削除画面</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
		<div class="top">
        <h1>データ一覧</h1>
        <button class="menu-toggle" aria-label="メニューを開閉する"></button>
		</div>
		<ul class="menu">                
            <li><a href="/home">ホーム</a></li>
	        <li><a href="/objective">目標入力</a></li>
	        <li><a href="/graph">グラフ</a></li>
	        <li><a href="/recipe">レシピ</a></li>
	        <li><a href="/input">収支入力</a></li>
	        <li><a href="/difference">支出差額</a></li>
	        <li><a href="/record">履歴</a></li>
        </ul>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
			    const menuToggle = document.querySelector('.menu-toggle');
			    const menu = document.querySelector('.menu');
			    
			    menuToggle.addEventListener('click', function() {
			        menu.classList.toggle('open');
			        menuToggle.classList.toggle('close');
			    });
			    // 初期表示で支出登録タブを表示
                showTab('spend');
			});
		</script>
    </header>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>userID</th>
            <th>収入</th>
            <th>支出</th>
            <th>年月</th>
            <th>項目</th>
            <th>更新へ</th>
            <th>削除へ</th>
        </tr>
        <tr th:each="payment : ${list}">
            <td th:text="${payment.id}"></td>
            <td th:text="${payment.userId}"></td>
            <td th:text="${payment.income}"></td>
            <td th:text="${payment.spend}"></td>
            <td th:text="${payment.day}"></td>
            <td th:text="${payment.itemId}"></td>
            <td>
                <form action="/updateInput" method="get">
                    <input type="hidden" name="id" th:value="${payment.id}"/>
                    <input type="hidden" name="userId" th:value="${payment.userId}"/>
                    <button type="submit">更新</button>
                </form>
            </td>
            <td>
                <form action="/delete" method="post">
					<input type="submit" value="削除">
                    <input type="hidden" name="id" th:value="${payment.id}"/>
                    <input type="hidden" name="userId" th:value="${payment.userId}"/>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
