<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新画面</title>
</head>
<body>
    <h1>データ一覧</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>userID</th>
            <th>収入</th>
            <th>支出</th>
            <th>年月</th>
            <th>ジャンル</th>
            <th>ボタン</th>
        </tr>
        <tr th:each="payment : ${list}">
            <td th:text="${payment.id}"></td>
            <td th:text="${payment.userId}"></td>
            <td th:text="${payment.income}"></td>
            <td th:text="${payment.spend}"></td>
            <td th:text="${payment.day}"></td>
            <td th:text="${payment.itemId}"></td>
            <td>
                <form action="/updateInput" method="get">
                    <input type="hidden" name="id" th:value="${payment.id}"/>
                    <input type="hidden" name="userId" th:value="${payment.userId}"/>
                    <button type="submit">更新</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
